[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
tksheet = "*"
requests = "*"
parsel = "*"
aiosqlite = "*"
pillow = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.11"
